--- 

--- 

@import "{{ site.theme }}";

nav#menu {
    margin: auto;

    ul {
        display: inline-flex;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;

        li {
            float: left;
            display: list-item;
            text-align: -webkit-match-parent;
        
            a {
                color: #fff;
                text-align: center;
                padding: 14px 16px;
            
                &:hover{
                    background-color: #333333 ;
                }
            
            }
        }
    }    
}
