--- 

--- 

@import "{{ site.theme }}";

nav#menu {
    display: block;
    width: 20%;
    background-color: rgb(14, 108, 124);
    float: left;

    ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            display: list-item;
            text-align: -webkit-match-parent;
        
            a {
                color: #fff;
                text-align: center;
                padding: 14px 16px;
            
                &:hover{
                    color: #429696 ;
                    font-weight: bold;
                }
            
            }
        }
    }    
}
